@page "/safetyEvaluation/machineDetail" 

@layout MainLayout

@inject IDialogService dialogService

@attribute [Authorize]

<!-- TODO: change add buttons in tables to buttons, which open dialog -->
<!-- TODO: remake button for adding options to select box -->

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="padding-top: 10px;">
    <MudGrid>
        <MudItem xs="2">
        </MudItem>
        <MudItem xs="8" Style="padding-bottom: 30px;">
            <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudCard Elevation="3">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Machine detail</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Default" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>

                            <!-- 1. row - machine name, evaluation method, producer -->
                            <MudItem xs="4">
                                <MudTextField @bind-Value="model.Name" Label="Machine name" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem xs="4">
                                <MudSelect T="string" Label="Evaluation method" Strict="true" Variant="Variant.Outlined" Format="F2">
                                    <MudSelectItem T="string" Value="@("PL")" />
                                    <MudSelectItem T="string" Value="@("SIL")" />
                                </MudSelect>
                            </MudItem>

                            <!-- TODO -->
                            <MudItem xs="4">
                                <MudGrid>
                                    <MudItem xs="10" Style="padding-right: 1px;">
                                        <MudSelect T="string" Label="Producer" Strict="true" Variant="Variant.Outlined" Format="F2">
                                            <MudSelectItem T="string" Value="@("Siemens")" />
                                            <MudSelectItem T="string" Value="@("Sipron")" />
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="2" Style="padding-left: 0px; padding-top: 18px;">
                                        <MudTooltip Text="Create new producer">
                                            <MudButton @onclick="OpenCreateProducerDialog" Variant="Variant.Filled" Style="height: 56px; min-width: 0px; width: 47px;" DisableElevation="true">
                                                <MudIcon Icon="@Icons.Material.Filled.Add" />
                                            </MudButton>
                                        </MudTooltip>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <!-- 2. row - communication, machine type, type of logic -->
                            <MudItem xs="4">
                                <MudSelect T="string" Label="Communication" Strict="true" Variant="Variant.Outlined" Format="F2">
                                    <MudSelectItem T="string" Value="@("Yes")" />
                                    <MudSelectItem T="string" Value="@("No")" />
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="4">
                                <MudSelect T="string" Label="Machine type" Strict="true" Variant="Variant.Outlined" Format="F2">
                                    <MudSelectItem T="string" Value="@("Sustruh")" />
                                    <MudSelectItem T="string" Value="@("Bruska")" />
                                    <MudSelectItem T="string" Value="@("Lis")" />
                                    <MudSelectItem T="string" Value="@("Freza")" />
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="4">
                                <MudSelect T="string" Label="Type of logic" Strict="true" Variant="Variant.Outlined" Format="F2">
                                    <MudSelectItem T="string" Value="@("Normal PLC")" />
                                    <MudSelectItem T="string" Value="@("Safety PLC")" />
                                </MudSelect>
                            </MudItem>

                            <!-- 3. row - description -->
                            <MudItem xs="12">
                                <MudTextField T="string" Label="Machine description" Variant="Variant.Outlined" Lines="3" />
                            </MudItem>

                            <!-- 4. row - optional parameters -->
                            <MudItem xs="12">
                                <MudExpansionPanels>
                                    <MudExpansionPanel>
                                        <TitleContent>
                                            <div class="d-flex">
                                                <MudText Align="Align.Center">Optional parameters</MudText>
                                            </div>
                                        </TitleContent>
                                        <ChildContent>
                                            <hr />
                                            <MudGrid Style="margin-top: 3px;">
                                                <MudItem xs="4">
                                                    <MudPaper Outlined="true">
                                                        <MudCheckBox @bind-Checked="model.Hmi">HMI</MudCheckBox>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudPaper Outlined="true">
                                                        <MudCheckBox @bind-Checked="model.Plc">PLC</MudCheckBox>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudPaper Outlined="true">
                                                        <MudCheckBox @bind-Checked="model.MachineHelp">Machine help</MudCheckBox>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudPaper Outlined="true">
                                                        <MudCheckBox @bind-Checked="model.CodeProtection">Code protection</MudCheckBox>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudPaper Outlined="true">
                                                        <MudCheckBox @bind-Checked="model.SecurityOfSafetyParts">Security of safety parts</MudCheckBox>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudPaper Outlined="true">
                                                        <MudCheckBox @bind-Checked="model.SafetyMasterInPlace">Safety master in place</MudCheckBox>
                                                    </MudPaper>
                                                </MudItem>
                                            </MudGrid>
                                        </ChildContent>
                                    </MudExpansionPanel>
                                </MudExpansionPanels>
                            </MudItem>

                            <!-- 5. row - table with access points -->
                            <MudItem xs="12">
                                <MudTable Items="@model.AccessPoints" Dense="true" Hover="true" Height="300px" FixedHeader="true">
                                    <ToolBarContent>
                                        <MudText Typo="Typo.h6">Access points</MudText>
                                        <MudToolBarSpacer />
                                        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                        <MudButton @onclick="OpenCreateAccessPointDialog" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Primary" Size="Size.Medium" DisableElevation="true" Style="margin-left: 20px; margin-top: 11px; margin-right: 5px;">Add</MudButton>
                                    </ToolBarContent>
                                    <ColGroup>
                                        <col style="width:40%;" />
                                        <col style="width:40%;" />
                                        <col style="width:20%;" />
                                    </ColGroup>
                                    <HeaderContent>
                                        <MudTh>Name</MudTh>
                                        <MudTh>State</MudTh>
                                        <MudTh>Actions</MudTh>
                                    </HeaderContent>
                                    <RowTemplate Context="tableContext">
                                        <MudTd DataLabel="Name">@tableContext.Name</MudTd>
                                        <MudTd DataLabel="Name">State</MudTd>
                                        <MudTd DataLabel="Name">
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete"></MudIconButton>
                                        </MudTd>
                                    </RowTemplate>
                                </MudTable>
                            </MudItem>

                            <!-- 6. row - table with used norms -->
                            <MudItem xs="12">
                                <MudTable Items="@model.MachineNorms" Dense="true" Hover="true" Height="300px" FixedHeader="true">
                                    <ToolBarContent>
                                        <MudText Typo="Typo.h6">Norms used for this machine</MudText>
                                        <MudToolBarSpacer />
                                        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Primary" Size="Size.Medium" DisableElevation="true" Style="margin-left: 20px; margin-top: 11px; margin-right: 5px;">Add</MudButton>
                                    </ToolBarContent>
                                    <ColGroup>
                                        <col style="width:40%;" />
                                        <col style="width:25%;" />
                                        <col style="width:25%;" />
                                        <col style="width:10%;" />
                                    </ColGroup>
                                    <HeaderContent>
                                        <MudTh>Name</MudTh>
                                        <MudTh>Number</MudTh>
                                        <MudTh>SomeProp</MudTh>
                                        <MudTh>Actions</MudTh>
                                    </HeaderContent>
                                    <RowTemplate Context="tableContext">
                                        <MudTd DataLabel="Name">Name</MudTd>
                                        <MudTd DataLabel="Name">State</MudTd>
                                        <MudTd DataLabel="Name">Bla</MudTd>
                                        <MudTd DataLabel="Name">
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete"></MudIconButton>
                                        </MudTd>
                                    </RowTemplate>
                                </MudTable>
                            </MudItem>

                        </MudGrid>
                    </MudCardContent>
                    <MudCardActions>
                        <MudGrid>
                            <MudItem xs="6" Style="padding-left: 21px; padding-bottom: 20px; padding-top: 5px;">
                                <MudButton Variant="Variant.Filled" Style="width:100%;">Edit</MudButton>
                            </MudItem>
                            <MudItem xs="6" Style="padding-right: 21px; padding-bottom: 20px; padding-top: 5px;">
                                <MudButton Variant="Variant.Filled" Style="width:100%;">Save</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </MudItem>
        <MudItem xs="2">
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

    private MachineDetailModel model = new MachineDetailModel();

    private string searchString = string.Empty;

    private void OnValidSubmit()
    {

    }

    private void OpenCreateProducerDialog()
    {
        dialogService.Show<CreateProducerDialog>("Hello");
    }

    private void OpenCreateAccessPointDialog()
    {
        dialogService.Show<CreateAccessPointDialog>();
    }

}
